h1 {
  border-top: 4px double;
  border-bottom: 4px double;
  font-family: "Roboto", Sans-Serif;
  padding: 1em;
  font-size: 2em;
  line-height: 0.5em;
  margin: 5px 0px 0px 0px;
  width: fit-content;
  color: white;
}

#test {
  width:100px;
  height:100px;
  margin:0px auto;
}

h2 {
  font-family: "Roboto", Sans-Serif;
  padding: 1em;
  font-size: 1.5em;
  line-height: 1em;
  margin: 5px 0px 0px 0px;
  color: yellow;
}

body {
  background-color: darkslategrey;
  animation-name: abody;
  animation-duration: 4s;
}
/* The animation code */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

@keyframes abody {
  from {
    background-color: goldenrod;
  }
  to {
    background-color: purple;
  }
}

/* The element to apply the animation to */
div {
  width: 200px;
  height: 200px;
  background-color: blueviolet;
  animation-name: example;
  animation-duration: 4s;
}



button{display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
will-change: box-shadow,transform;
background: radial-gradient( 100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100% );
box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px rgb(58 65 111 / 50%);
padding: 0 32px;
border-radius: 6px;
color: #fff;
height: 48px;
font-size: 18px;
text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
transition: box-shadow 0.15s ease,transform 0.15s ease;}
button:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #3c4fe0;
    transform: translateY(-2px);
}
button:active{
    box-shadow: inset 0px 3px 7px #3c4fe0;
    transform: translateY(2px);
}


/* .myCanvas {
    border: dotted 2px black;
    margin: 0 20px;
}  

div {
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}  

.ad-ad2 h1:hover span {
    color: #484848;  
    transform: translateX(40px);
    font-size: 30px;
    color: #999999;
    display: inline-block; 
 } */
