h1 {
    border-top: 4px double;
    border-bottom: 4px double;
    font-family: "Roboto", Sans-Serif;
    padding: 1em;
    font-size: 2em;
    line-height: 0.5em;
    margin: 5px 0px 0px 0px;
    width: fit-content;
    color: white;
  }
  
  h2 {
    font-family: 'Roboto', Sans-Serif;
    padding: 1em;
    font-size: 1.5em;
    line-height: 1em;
    margin: 5px 0px 0px 0px;
    color: yellow;
  }
  
  body {
    background-color: darkslategrey;
   
  }
  .myCanvas {
    border: dotted 2px black;
    margin: 0 20px;
}  

  
.ad-ad2 h1:hover span {
    color: #484848;  
    transform: translateX(40px);
    font-size: 30px;
    color: #999999;
    display: inline-block;
}